h3 TREEEEEEEEEEEEES!!!!!!!!!!!!

button.btn.btn-danger.btn-xs(ng-click='plantTree()') Plant Tree

div(ng-repeat='tree in trees')
  div(co-tree height='tree.height' health='tree.health' id='tree._id')
